@import url('https://fonts.google.com/specimen/Caveat');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Caveat', cursive;
}

.slider{
    position: absolute;
    width: 100px;
    height: 100px;
    transform-origin: center;
    transform-style: preserve-3d;
    animation: rotate 45s linear infinite;
}

@keyframes  rotate{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }

    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}

.emailForm{
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.element{
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    transform-origin: center;
    transform-style: preserve-3d;
    background: #2c2c2c;
    border-radius: 20px;
    transform: rotateY(calc(var(--i)*var(--l))) translateZ(120px);
    }

.image{
    position: absolute;
    width: 50%;
    height: 50%;
    transition: 2s;
}

.animation {
    color: #89A6FB;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 7rem;
}

.contact {
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

.contatto {
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 2.5rem 6rem;
}

@media only screen and (max-width: 600px) {
    .element{
        transform: rotateY(calc(var(--i)*var(--l))) translateZ(120px);
    }
    .animation{
        font-size: 2.2rem;
    }
    .contact{
        flex-direction: column;
    }
}


@media only screen and (min-width: 768px) {
    .element{
        transform: rotateY(calc(var(--i)*var(--l))) translateZ(250px);
    }
    .animation{
        font-size: 4.5rem;
    }
}

@media only screen and (min-width: 1400px) {
    .element{
        transform: rotateY(calc(var(--i)*var(--l))) translateZ(500px);
    }
    .animation{
        font-size: 7rem;
    }
}

